body{
    margin: 20px;
    height: auto;
}

.register-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(30, 144, 255, 0.25); /* azul */
}

.requerimentos-senha{
    display: flex;
    align-items: center;
    margin: 12px;
    gap: 12px;
    font-size: 0.9rem;
    color: #4a6b85; /* azul acinzentado */
}

.requerimentos-senha i{
    color: #1E90FF; /* azul botão */
    font-size: 1.3rem;
}