* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-title: #333;
    --color-p: #666;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 80%;
    min-height: auto;
    max-height: 90vh;
}

.login-card{
    padding: 40px;
    text-align: center;
}

.logo-section{
    margin-bottom: 25px;
}

.logo-section img{
    width: 150px;
    border-radius: 25px;
}

.logo-section h1{
    color: var(--color-title);
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.logo-section p{
    color: var(--color-p);
    font-size: 1.1rem;
}

.input-group{
    position: relative;
    margin-bottom: 25px;
}

.input-group i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font: 1.1rem;
    color: #667eea;
}

.input-group input{
    width: 100%;
    padding: 15px 15px 15px 45px;
    border: 3px solid #e1e5e9;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f8f9fa;
}

.input-group input:focus{
    outline: none;
    border-color: #667eea;
    background-color: #fff;
}

.login-btn{
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.login-btn:hover{
    background: linear-gradient(135deg, #764ba2 100%, #667eea 0%);
}

.message{
    padding: 15px;
    border-radius: 5px;
    text-align:center;
    min-height: 20px;
    font-weight: bold;
}

.message.sucess{
    margin: 15px 0;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error{
    margin: 15px 0;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.register{
    font-weight: bold;
}

.register a{
    color: #667eea;
    text-decoration: none;
    font-size: 1rem;
}

/* Features */
.features{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.feature-card{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    width: 350px;
}

.feature-card i{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.feature-card h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}